
<html>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">


				<!-- Footer -->

				<section id="footer">
					<div class="inner">
            <br><br>
						<form method="post" action="#">
							<div class="field">
								<label for="name">Password</label>
								<input type="text" name="name" id="name" />
							</div>
							<ul class="actions">
                <%= link_to "Login", admin_path(:id), class: "special"  %>
							</ul>
						</form>
					</div>
				</section>

			</div>

      <!-- Scripts -->
  		<script src="js/skel.min.js"></script>
  		<script src="js/jquery.min.js"></script>
  		<script src="js/jquery.scrollex.min.js"></script>
  		<script src="js/util.js"></script>
  		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  		<script src="js/main.js"></script>


	</body>
</html>
