<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><img src="/assets/blue_avatar.png" alt="" /></div>
							<h2>Welcome to CodeBlue</h2>
							<p>Code ... Merge ... Reward</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<img src="/assets/pacman-teal.png" alt="" class="image" />
									<div class="content">
										<h2 class="major">What is CodeBlue</h2>
										<p> CodeBlue rewards people who contribute to open source and sponsored projects. Use your github account to explore open source projects then create a pull request for projects that interest you.  </p>
										<%= link_to "Learn More", how_path, class: "special"  %>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<img src="/assets/pacman-robins_egg.png" alt="" class="image" />
									<div class="content">
										<h2 class="major">Open Source Projects</h2>
										<p>Here we use a lot of open source projects to drive innovation. Clone any one of those projects, write some features, submit a pull request, and earn points! Its that easy.</p>
										<%= link_to "Learn More", source_path, class: "special"  %>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<img src="/assets/pacman-blue.png" alt="" class="image" />
									<div class="content">
										<h2 class="major">Sponsored Projects</h2>
										<p>Wish you had funding to keep your application development going? Well, submit your project to the Innovation group and have it published on CodeBlue for ongoing development. Have an MVP built in a couple of days by developers that work in house. </p>
										<%= link_to "Learn More", projects_path, class: "special"  %>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Projects</h2>
									<p> There are a variety of projects that you can contribute too to earn points. We have two different kinds, open source and sponsored projects. Open source are projects that are public github projects, sponsored projects are projects being worked on in-house. </p>
									<section class="features">
										<article>
											<img src="/assets/truestory.png" alt="" class="image" />
											<h3 class="major">True Story </h3>
											<p> Help improve an application that takes annoymous input from a group during an agile retrospective. Just step into the room and see people vote on topics and leave comments annoymously. </p>
											<a href="https://github.com/cpbuckingham/True-Story" class="special">Github Link</a>
										</article>
										<article>
											<img src="/assets/codeblue.png" alt="" class="image"/></a>
											<h3 class="major">CodeBlue</h3>
											<p>In order to keep this tool working great, we want the best talent contributing. Help this application provide accurate metrics and backend services that keeps the system fast and sustainable. </p>
											<a href="https://github.com/cpbuckingham/codeblue" class="special">Github Link </a>
										</article>
										<article>
											<img src="/assets/open_source.png" alt="" class="image" />
											<h3 class="major">Open Source</h3>
											<p>A list of popular repos that always need more contributors to help make great products. Fork these repos and play around with powerful code. </p>
											<a href="https://github.com/showcases/open-source-organizations" class="special">Find more</a>
										</article>
										<article>
											<img src="/assets/git_open_source.png" alt="" class="image"/>
											<h3 class="major">Exlpore Technology</h3>
											<p>Not a coder? That is okay, explore open source materials, learn how to use github, and contribute in other ways.</p>
											<a href="https://github.com/explore" class="special">Learn more</a>
										</article>
									</section>
									</ul>
								</div>
							</section>

					</section>


			</div>

		<!-- Scripts -->
			<script src="js/skel.min.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
