<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

		<!-- Page Wrapper -->
			<div id="page-wrapper">


						<!-- Content -->
						<section id="four" class="wrapper alt style1">
							<div class="inner">
								<h2 class="major">Sponsored Projects</h2>
								<p> There are a variety of projects that you can contribute too to earn points. We have two different kinds, open source and sponsored projects. Open source are projects that are public github projects, sponsored projects are projects being worked on in-house. </p>
								<section class="features">
									<article>
										<img src="assets/truestory.png" alt="" class="image" />
										<h3 class="major">True Story </h3>
										<p> Help improve an application that takes annoymous input from a group during an agile retrospective. Just step into the room and see people vote on topics and leave comments annoymously. </p>
										<a href="https://github.com/cpbuckingham/True-Story" class="special">Github Link</a>
									</article>
									<article>
										<img src="assets/codeblue.png" alt="" class="image"/>
										<h3 class="major">CodeBlue</h3>
										<p>In order to keep this tool working great, we want the best talent contributing. Help this application provide accurate metrics and backend services that keeps the system fast and sustainable. </p>
										<a href="https://github.com/cpbuckingham/codeblue" class="special">Github Link </a>
									</article>
								</section>
							</div>
						</section>

					</section>

			</div>

			<!-- Scripts -->
				<script src="js/skel.min.js"></script>
				<script src="js/jquery.min.js"></script>
				<script src="js/jquery.scrollex.min.js"></script>
				<script src="js/util.js"></script>
				<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
				<script src="js/main.js"></script>
